# Ignore all contents of 'work' and 'tk5-root' folders
work/
work/*/
tk5-root/
bridge/spool_out/*
bridge/spool/*
bridge/logs/*
*pid
*ready
*__pycache__*

# Optionally, allow specific files if needed (uncomment and edit)
#!work/README.md
#!tk5-root/README.txt
